/gen
/libraries/appcompat/gen
/libraries/appcompat/bin
/libraries/gridlayout/gen
/libraries/gridlayou/bin
/out
/bin
/tests/gen
/tests/bin
.DS_Store
*.iws
versions.properties
.settings
gradle.properties
my.properties
.idea
/**/*.iml
/nbproject
local.properties
/assets/version.txt
/build
/.gradle
/*.apk
assets/version.properties
ewallet-android-sdk.iml
**/*\

